#commands:
#  N98\Magento\Command\Installer\InstallCommand:
#    magento-packages:
#    # add your own Magento versions for install
#      - name: enterprise-1.14
#        version: 1.14.0.1
#        source:
#          url: git@github.com:your-own-repository/magento.git
#          type: git
#          reference: enterprise-1.14
#        extra:
#          sample-data: enterprise-sample-data-1.14.0.0
#
#    demo-data-packages:
#    # add your own Magento sample data packages
#      - name: enterprise-sample-data-1.14.0.0
#        version: 1.14.0.0
#        dist:
#          url: http://your-own-domain.com/magento-sample-data-1.14.0.0.tar
#          type: tar