commands:
  N98\Magento\Command\Installer\InstallCommand:
    magento-packages:
      - name: enterprise-1.14.0.1
        version: 1.14.0.1
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.14

      - name: enterprise-1.13.1.0
        version: 1.13.1.0
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.13

      - name: enterprise-1.12.0.2
        version: 1.12.0.2
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.12

      - name: enterprise-1.11.2.0
        version: 1.11.2.0
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.11

      - name: enterprise-1.10.1.1
        version: 1.10.1.1
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.10
