commands:
  N98\Magento\Command\Installer\InstallCommand:
    magento-packages:
      - name: enterprise-1.14
        version: 1.14.0.1
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.14
        extra:
          sample-data: enterprise-sample-data-1.14.0.0

      - name: enterprise-1.13
        version: 1.13.0.2
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.13
        extra:
          sample-data: enterprise-sample-data-1.13.1

      - name: enterprise-1.12
        version: 1.12.0.2
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.12

      - name: enterprise-1.11
        version: 1.11.2.0
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.11

      - name: enterprise-1.10
        version: 1.10.1.1
        source:
          url: git@git.votum-media.net:vtm-mirrors/magento.git
          type: git
          reference: enterprise-1.10

    demo-data-packages:
      - name: enterprise-sample-data-1.14.0.0
        version: 1.14.0.0
        dist:
          url: http://huk-ba24-tw.dev.votum.local/magento-sample-data-1.14.0.0.tar
          type: tar

      - name: enterprise-sample-data-1.13.1
        version: 1.13.1
        dist:
          url: http://huk-ba24-tw.dev.votum.local/magento-enterprise-sample-data-1.3.1.tar
          type: tar
